/*
Sources used:
Background image resizing -- https://css-tricks.com/perfect-full-page-background-image/
*/
:root {
    --flax: #ffee95ff;
    --lavender-blush: #ffededff;
    --lavender-pink: #f9aadaff;
    --plum-web: #ce9ed1ff;
    --rich-black: #021e27ff;
    font-family: 'Mali', cursive;
}
.bg {
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: -2;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
  }
.bg-rect {
    height: 75%;
    width: 75%;
    z-index: -3;
    margin-top: -5%;
    margin-left:-13%;
    background-color: #fff;
    border: medium solid var(--lavender-blush);
    color: #444;
}
.headline {
    font-family: Mali;
    font-weight: bold;
    grid-area: headline;
  }
.biopic {
    margin: 5%;
    min-width: 120%;
    z-index: 1;
    grid-area: biopic;
}
.video {
    grid-area: video;
    height: 0; 
    padding-bottom: 
    calc(56.25%); 
    position:relative; 
    width: 100%;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    position:absolute;
    top:25%;
    left:25%;
    z-index: -1;
    margin-top: -5%;
    margin-left:-13%;

    /* Defines grid-template-columns and grid-template-areas values */
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      '. headline headline headline'
      'biopic video video video'
      'biopic video video video'
  }
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: right;
    background-color: var(--lavender-blush);
    color: #fff;
}
  